trigger:
  - master

pool:
  name: 'default'

steps:
  - task: DockerCompose@1
    inputs:
      containerregistrytype: 'Container Registry'
      dockerComposeFile: '**/docker-compose.yml'
      action: 'Run a Docker Compose command'
      dockerComposeCommand: 'up --abort-on-container-exit'
    displayName: 'Run Hello in Busybox' 
